---
import "../styles/global.css";
import Layout from "../layouts/PageLayout.astro";
import CartComponent from "../components/CartFnComponent";
---

<Layout>
  <main id="cart"></main>
  <div class="min-h-screen px-2 pt-28 pb-10 md:px-20">
    <div class="mx-auto max-w-7xl">
      <h1 class="mb-8 text-4xl font-bold">Shopping Cart</h1>
    </div>

    <CartComponent client:only="react" />
  </div>
</Layout>
