---
import AnimatedButton from "./AnimatedButton.astro";
import LandingCarousel from "./LandingCarousel.astro";
const landingContent = {
  collection: "2024/25 Season Collection",
  heading: "Wear Your Pride, Feel The Game, Live The    Legacy",
  description:
    "Experience authentic football jerseys that bring the passion of the pitch to your wardrobe. From match-day classics to limited editions, represent your team with pride.",
};
---

<main
  class="relative flex w-full flex-col items-center justify-center gap-10 bg-contain bg-center"
  style="background-image: url('/src/assets/grain.png');"
>
  <div class="absolute inset-0 bg-black/50 md:bg-black/70"></div>
  <div class="z-10 w-full justify-center px-4">
    <div class="flex w-full flex-col items-center gap-8 pt-36">
      <p
        class="sm:text-md mx-auto w-fit rounded-full border-2 border-gray-400 px-6 py-1.5 text-center text-sm text-gray-400"
      >
        {landingContent.collection}
      </p>
      <h1
        class="text-center text-4xl font-bold text-white md:min-w-3xl md:text-5xl"
      >
        {landingContent.heading}
      </h1>

      <p class="text-center text-sm text-gray-400 md:w-2xl md:text-lg">
        {landingContent.description}
      </p>
      <AnimatedButton>Shop Now</AnimatedButton>
    </div>

    <!-- <button class="bg-white text-black px-6 py-2 rounded-full cursor-pointer text-sm">Shop Now</button> -->
  </div>
  <LandingCarousel />
</main>
