---
import AnimatedButton from "./AnimatedButton.astro";
import LandingCarousel from "./LandingCarousel.astro";

const landingContent = {
  collection: "2024/25 Season Collection",
  heading: "Wear Your Pride, Feel The Game, Live The    Legacy",
  description:
    "Experience authentic football jerseys that bring the passion of the pitch to your wardrobe. From match-day classics to limited editions, represent your team with pride.",
};
---

<main
  class="w-full bg-contain bg-center relative flex items-center justify-center flex-col gap-10"
  style="background-image: url('/src/assets/grain.png');"
>
  <div class="absolute inset-0 bg-black/50 md:bg-black/70"></div>
  <div class="z-10 justify-center">
    <div class="pt-36 px-4 flex flex-col gap-8 items-center">
      <p
        class="text-gray-400 text-center px-6 text-sm py-1.5 border-2 border-gray-400 rounded-full w-fit mx-auto"
      >
        {landingContent.collection}
      </p>
      <h1 class="text-white text-4xl md:text-5xl font-bold text-center">
        {landingContent.heading}
      </h1>

      <p class="text-gray-400 text-sm text-center">
        {landingContent.description}
      </p>
      <AnimatedButton>Shop Now</AnimatedButton>
    </div>

    <!-- <button class="bg-white text-black px-6 py-2 rounded-full cursor-pointer text-sm">Shop Now</button> -->
  </div>
  <LandingCarousel />
</main>
